/*###########################################
##              GENERAL STUFF              ##
###########################################*/

/*These are the colors we are using in the document:
    - Hack3rs Red:  #591728
    - Radio Blue:   #39A5DB
    - GUL Blue:     #1C3144
    - Dark gray:    #222
    - GUL Gray:     #666
    - Light gray:   #EAEAEA
    - Lighter gray: #F9F9F9

Please when using them type the name in a comment close to it
so in case we have to substitute them all we can do a search.


/*General CSS rules for each item on the document, do not mistake with the previous one*/
* {
    /*This bad boy right here allows us to set the absolute width of an element, including
    the margins, when changing the width attribute. If this is not here, then we have to take
    into account the margin of an element when setting its width manually. For example, if you
    want to set two elements side by side with 1em of margin, using this tag we can set 30% and 70%
    width respectively, and it will work. Without it, we have to play with the widths until it
    works (probably setting them at 26% and 68% or similar), and that sucks. It is better explained
    here: https://www.w3schools.com/css/css3_box-sizing.asp */
    box-sizing: border-box;
}

/*Responsive column design, mobile first. Mobile phones have everything to 100% width. See how this
genius stuff works at https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
[class*="col-"] {
    float: left;
    width: 100%;
}

/*Row rules*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*With a width bigger than 768px we go to desktop mode*/
@media (min-width: 768px) {
    [class*="col-"] {float: left;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*Make images fit on their correspondent div*/
.section img {
    /*Set the width to the whole container*/
    width: 100%;
}

/*###########################################
##                   BODY                  ##
###########################################*/

/*Body rules, applied for all viewport sizes*/
body {
    /*Set the font family to Lato, and use Sans Serif as fallback*/
    font-family: 'Lato', sans-serif;
    /*Set the background color to lighter gray*/
    background-size: cover;
    background-color: #000;
    /*
    background-color: #DDD;*/
    /*Remove the default margins*/
    margin: 0%;
    /*Set a bigger font size by default*/
    font-size: 18px;
}

/*Deactivate underscoring on all links*/
a {text-decoration: none;}

/*Body padding so the left and right sections are not directly next to the borders*/
.pad {height: 1em;}

/*Canvas for the word rain*/
canvas {
    /*Make it follow the scrolling*/
    position: fixed;
    /*Other hacks copypasted from SO*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*###########################################
##                  HEADER                 ##
###########################################*/

/*If we are on mobile, do some stuff*/
@media (max-width: 768px) {
    /*Hide the header buttons*/
    /*.header-button {display: none;}
    /*Reduce the size of the header*/
    header {height: 3em;}
    /*And reduce the size of the logo so it fits*/
    .header-logo img {height: 2em;}
}

/*Set the header as a floating item only if we are in desktop mode*/
@media (min-width: 768px) {
    header {
        position: fixed;
        top: 0px;
        width: 100%;
    }
    /*Display the drop down menu only in mobile version*/
    .ddmenu{display: none;}
}

/*Main header block. This sets the background color and the coverage of the header*/
header {
    /*Set the background to cover so it fills the whole div*/
    background-size: cover;
    /*The background color in the header will be that light gray so we can tell the
    difference with the body background*/
    background-color: #EAEAEA;
    /*Fixed height relative to the font size. If you change this be aware that the header
    buttons and probably other elements' heights will have to be changed too*/
    height: 4em;
    /*Block shadow. This corresponds to card-2 in the Codepen*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*Make the blocks inside the header have the same height as the header so nothing gets out*/
header div {
    height: inherit;
    display: flex;
    align-items: center;
}

/*The structure from here on is: 2 units for the logo, 4 for the motto, and 6 for buttons

/*Holds the logo image in place*/
.header-logo img {
    display: block;
    height: 3em;
    margin-left: 1em;
}

/*Show the motto if the page is smaller than 460px*/
@media (min-width: 461px) {
    .header-motto {
        display: none;
    }
    .header-logo{
        height: 4em;
    }
}

/*Header icons, but we can use this on other places too*/
.icon {
    /*Set a nice width for it to work well with nearby text*/
    width: 1.5em;
    /*Margins for separation*/
    margin-left: 0.3em;
    margin-right: 0.3em;
    /*And a dirty hack so it gets a lighter gray tone*/
    opacity: 0.6;
    /*inline block so it gets centered*/
    display: inline-block;
}

/*Header buttons, with hover action too*/
.header-button {
    /*Make the button have the full height of the header*/
    height: 100%;
    /*Substitute that ugly blue link color*/
    color: #222;
    /*Used for the next two lines*/
    display: flex;
    /*Align the paragraph vertically*/
    align-items: center;
    /*Align it horizontally*/
    justify-content: center;
    /*Change the cursor the a hand*/
    cursor: pointer;
}

/*Hide the buttons if we are on mobile*/
@media (max-width: 768px) {
    /*Hide the header buttons*/
    .header-button {display: none;}
}
/*Header button link text, basically set a nice color*/
.header-button a {
    text-decoration: none;
    color: #222;
}

/*Header button, change its color when hovering with the mouse*/
.header-button:hover {background-color: #DDD;}

/*Style of the menu icon*/
.ddmenu {
    border: none;
    cursor: pointer;
    /*Display as png*/
    background: None;
    Zindex: 100000;
}

/* The container <div> - needed to position the dropDown content */
.dropDown {
    position: relative;
    display: inline-block;
    padding-top: 15px;
    margin-left: auto;
    Zindex: 100000; 
}

/* dropDown Content (Hidden by Default) */
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #EAEAEA;
    min-width: 100%;
    min-height: 230px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    Zindex: 100000; 
}

/* Links inside the dropDown */
.dropDownContent a {
    color: black;
    padding: 12px 16px;
    margin-right: 10px;
    text-decoration: none;
    display: block; 
}

/* Change color of dropDown links on hover */
.dropDownContent a:hover {background-color: #bfbfbf}

/* Show the dropDown menu (use JS to add this class to the .dropDown-content container when the user clicks on the dropDown button) */
.show {display:block;}

/*###########################################
##                 SECTION                 ##
###########################################*/


.section {
    /*A bit of padding so the cards do not collide between them horizontally*/
    padding: 0.5em;
    /*A top margin so it does not collide with the header*/
    margin-top: 4em;
}

/*Set a top margin so it does not get under the header*/
@media (max-width: 768px) {
    .section {
        margin-top: 0;
    }
}

/*Card item, basic building block of the body*/
.card {
    /*Set the card color, border radius and display mode*/
    background: #EAEAEA;
    border-radius: 2px;
    display: inline-block;
    /*Full width of the section, although this can be changed individually*/
    width: 100%;
    /*A bit of content padding so it looks great*/
    padding: 0.5em;
    /*And vertical margin so cards in the same section do not collide*/
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    /*Box shadow!*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*Set the link color to a lighter one so we can see it*/
.card a {color: #222;}

/*Dark card*/
.card-dark {
    /*Set the card color, border radius and display mode*/
    background-color: #111;
    color: #F9F9F9;
    border-radius: 2px;
    display: inline-block;
    /*Full width of the section, although this can be changed individually*/
    width: 100%;
    /*A bit of content padding so it looks great*/
    padding: 0.5em 1em 0.5em 1em;
    /*And vertical margin so cards in the same section do not collide*/
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    /*Box shadow!*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*Set the text bigger*/
    font-size: 1.2em;
}

/*Set the link color to a lighter one so we can see it*/
.card-dark a {color: #EAEAEA;}

/*Dark card*/
.card-lighter {
    /*Set the card color, border radius and display mode*/
    background-color: #DDD;
    color: #111;
    border-radius: 2px;
    display: inline-block;
    /*Full width of the section, although this can be changed individually*/
    width: 100%;
    /*A bit of content padding so it looks great*/
    padding: 0.5em 1em 0.5em 1em;
    /*And vertical margin so cards in the same section do not collide*/
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    /*Box shadow!*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*Set the text bigger*/
    font-size: 1.2em;
}

/*Set the link color to a lighter one so we can see it*/
.card-dark a {color: #222;}

/*Blue card*/
.card-blue {
    /*Set the card color, border radius and display mode*/
    background-color: #666;
    color: #F9F9F9;
    border-radius: 2px;
    display: inline-block;
    /*Full width of the section, although this can be changed individually*/
    width: 100%;
    /*A bit of content padding so it looks great*/
    padding: 0.5em 1em 0.5em 1em;
    /*And vertical margin so cards in the same section do not collide*/
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    /*Box shadow!*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*Set the text bigger*/
    font-size: 1.2em;
}

/*Set the link color to a lighter one so we can see it*/
.card-blue a {color: #EAEAEA;}

/*Text that is inside a p is a bit bigger, so we use text that is not inside the p
as headers*/
.card p {
    /*Smaller font size*/
    font-size: 1.1em;
    /*And a bit of lateral padding*/
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/*Titles for big dark cards, use a lighter font so it does not look ugly af*/
h2 {font-weight: lighter;}
h3 {
    font-weight: lighter;
    margin: 0.3em 0 0.3em 0;
}

/*Input form to enter the email address for the mailing list*/
input {
    width: 100%;
    height: 3em;
}
